{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'purpose.css'%}">
<link rel="stylesheet" href="{%static 'information.css'%}">
<div class="status-bar-bg">
    <div class="status-bar" style="width: 100vw;"></div>
</div>
<button onclick="history.back()" class="back-button"></button>
<div class="title">
    진짜 다 왔어요!
</div>
<div class="address-description">
    문 앞 수거를 위해 주소를 꼭 동, 호수까지 알려주세요!
</div>
<form method="POST" class="post-form">{% csrf_token %}
    {{basic_information_form}}
    <div id="fixed-next-button" >
        <button type="submit" class="save btn btn-default" id="next-button">
            <span class="fixed_request_button_content"> 완료 </span>
        </button>
    </div>
</form>
{% endblock %}