{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div id="full-screen">
    <div class="snap-container" onscroll="scrollDown()">
        <div>
            <a href="{%url 'index'%}">
                <img src="static/img/fapislogo.png" 
                class="fapislogo">
            </a>
            <div class="fapisintro">
                견적부터 배송까지,<br>
                집 안에서 만나는 명품 수선소 
            </div>
            <!-- <div class="fapisintro" style="margin-top : 38px"> 
                집 안에서 만나는 <b style="color: #0052d4">명품 수선소</b>
            </div> -->
            <div class="request_button">
                <a href="{% url 'landingpage:estimate_new' %}"><span class="request_button_content">접수하기</span></a>
            </div>
            <div class="intro-bg">
            </div>
        </div>
        <div style="background-color: white;">
            <img src="static/img/rgb-v-2-1@3x.png" class="info-logo">
            <div class="intro-text" style="top: 181px;">
                비대면 명품 토탈 케어 플랫폼
            </div>
            <div class="intro-sub">
                패피스는 전국 최고의 명품 케어 장인들을<br>
                온라인으로 만나볼 수 있는<br>
                국내 최초 비대면 명품 토탈 케어 플랫폼입니다. 
            </div>
            <div class="intro-sub" style="margin-top: 360px;">
                실력이 제일 궁금한 명품케어,<br>
                이제 패피스에서 직접 비교하시고 골라보세요.
            </div>
        </div>
        <div class="review-div">
            <div class="review-title">
                실제 고객님 리뷰
            </div>
            <div class="review-comment">
                패피스를 경험해보신 고객님들의 <br>
                소중한 후기를 들어보세요.
            </div>
            <div class="review-page">
                <div class="swiper-container" style="height: 100%">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                핸드백 분쇄기
                            </div>
                            <div class="review-profile">
                                김** 29세 강남 거주
                            </div>
                            <img src="static/img/frame-91@3x.png"
                            class="review-face">
                            <div class="review-nickname">
                                세탁 : 가방/핸드백
                            </div>
                            <div class="review-review">
                                동네 세탁소에서는 받아주지 않는 <br>
                                마르지엘라 가방이 완전 새 것처럼 돌아왔어요.
                            </div>
                        </div>
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                강남역 10번 출구
                            </div>
                            <div class="review-profile">
                                정** 22세 수지 거주
                            </div>
                            <img src="static/img/3-1@3x.png"
                            class="review-face">
                            <div class="review-nickname" style="width: 94px; left: 85px;">
                                세탁 : 신발
                            </div>
                            <div class="review-review">
                                새로 산 맥퀸에 친구가 술먹고 토를 했는데, <br>
                                패피스 통해서 새 신발이 되었어요.
                            </div>
                        </div>
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                응애 나 아가새
                            </div>
                            <div class="review-profile">
                                박** 23세 연남 거주
                            </div>
                            <img src="static/img/5-2@3x.png"
                            class="review-face">
                            <div class="review-nickname" style="width: 94px; left: 85px;">
                                수선 : 하의 
                            </div>
                            <div class="review-review">
                                해외직구한 너무 긴 오프화이트 바지, <br> 
                                기장을 줄였는데 티가 하나도 안 나요.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"> </div>
                    <div class="swiper-button-prev review-arrow-left">  </div>
                    <div class="swiper-button-next review-arrow-right"> </div>
                </div>
            </div>
        </div>
        <div style="background: linear-gradient(180deg, #2948FF 15.08%, #396AFC 96.02%)">
            <div>
                <div class="title-line">
                    <div class="process-title">온라인 접수</div>
                </div>
            </div>
            <div class="process-content-1">
                <span style="font-weight: 400;">집 밖으로<br></span>
                <span style="font-weight: 400;">한 발자국도<br></span>
                나갈 필요 없이.
            </div>
            <div class="process-sub-1">
                핸드폰으로 사진과<br>
                요청사항만 기입하면 접수 완료.<br>
                더 이상 귀찮게 돌아다니지 마세요!
            </div>
            <img src="static/img/Rectangle@3x.png" class="requestImg">
        </div>
        <div style="background: linear-gradient(180deg, #2948FF 0%, #396AFC 56.48%);">
            <div>
                <div class="title-line">
                    <div class="process-title-portfolio">포트폴리오</div>
                </div>
                <div class="process-content-2">
                    <span style="font-weight: 400;">장인들의 실력을<br></span>
                    두 눈으로 직접
                </div>
                <div class="process-sub-2">
                    백화점에 맡긴 AS, 결국 이분들 손에!<br>
                    전국 명품 수선 장인들을 한 곳에<br>
                    모았습니다.
                </div>
                <div>
                    <img src="static/img/Eclipse1.png" class="eclipse-bg1">
                    <div>
                        <img src="static/img/portfolio.png" class="portfolio-ui">
                    </div>    
                </div>
            </div>
        </div>
        <div style="background: linear-gradient(172.76deg, #396AFC 40.36%, #2948FF 104.54%);">
            <div class="title-line-estimate">
                <div class="process-title-estimate">견적 비교</div>
            </div>
            <div>
                <img src="static/img/Eclipse3x.png" class="eclipse-bg2">
                <div>
                    <img src="static/img/estimate-ui.png" class="estimate-ui">
                </div>    
            </div>
            <div>
                <div class="process-content-3">
                    <span style="font-weight: 400;">더 이상 귀찮게<br></span>
                    발품 팔 필요 없이.
                </div>
                <div class="process-sub-3">
                    예상 작업 가격과 작업 기간이<br>
                    담긴 온라인 견적서를 받아보세요.<br>
                    광고 없는 소비자들 찐 후기는 덤!
                </div>
            </div>
        </div>
        <div style="background: linear-gradient(180deg, #2948FF 15.08%, #396AFC 55%);">
            <div class="title-line-door">
                <div class="process-title-door">문 앞 수거</div>
            </div>
            <div class="process-content-4">
                <span style="font-weight: 400;">패피스가<br></span>
                문 앞까지 슥 -
            </div>
            <div class="process-sub-4">
                    ‘퇴근하면 늦고, 반차 쓰긴 아까운데...’ <br>
                    그냥 문 앞에 두기만 하세요!<br>
                    원하시는 시간에 패피스가<br>
                    직접 찾아갑니다.
            </div>
            <div>
                <img src="static/img/Eclipse1.png" class="eclipse-bg3">
                <div>
                    <img src="static/img/hands.png" class="hands">
                </div>    
            </div>

        </div>
       
        <div>
            <img src="static/img/rec-ui.png" class="rec-ui">
            <div class="suggestion-title" style="top: 410px">
                사고 발생 염려는 <span class="blue"> 금물</span> <br>
                안전한 <span class="blue">온라인 영수증</span> 발급.
            </div>
            <div class="suggestion-content" style="top: 490px;">
                어디 내놓기 걱정되는 내 명품, <br>
                보상 문제부터 작업 과정까지 투명하게!
            </div>
        </div>
        <div>
            <div class="benefits-title">
                베타 서비스
            </div>
            <div class="benefits-title" style="margin-top: 78px;">
                오픈 이벤트
            </div>
            <div class="benefits-line"> </div>
            <div class="benefits-foryou"> 
                일찍 일어난 그대를 위해...
            </div>
            <img src="static/img/money.png" class="benefits-money">
            <div class="benefits-content">
                추첨을 통해 <br>
                수선비 50% 지원
            </div>
            <div class="benefits-small-line"> </div>
            <img src="static/img/infinity.png" class="benefits-money" style="margin-top: 320px;">
            <div class="benefits-content" style="margin-top: 378px;">
                '평생' 무료 견적
            </div>
            <div class="benefits-small-line" style="margin-top: 420px;"> </div>
            <img src="static/img/prize.png" class="benefits-money" style="margin-top: 433px;">
            <div class="benefits-content" style="margin-top:490px;">
                본 런칭 후, <br>
                우선 배정 혜택
            </div>
        </div>
        <div>
            <img src="static/img/info-logo.png" class="techlife">
            <div class="info-content" style="top: 410px">
                <div>
                    주식회사 엘알에이치알 <br>
                    서울특별시 서초구 바우뫼로 150 2층 (양재동, 혜산빌딩)<br>
                </div>
                <div>
                    대표자 : 김정민<br>
                    사업자등록번호 : 578-86-02204<br>
                </div>
                <div>
                    대표전화 : 010-4911-2306<br>
                    대표메일 : ceo@fapis.io<br>
                </div>
            </div>
            <div class="sns-icons">
                <a href="https://instagram.com/fapis_official?utm_medium=copy_link" target="_blank">
                    <img src="/static/img/insta_info.png"
                    class="instagram">
                </a>
                <a href= "http://pf.kakao.com/_xltxmaK/chat" target="_blank">
                    <img src="/static/img/kakao_info.png"
                    class="kakaotalk">
                </a>
                <a href= "https://www.facebook.com/Fapis-104858178022336/" target="_blank">
                    <img src="/static/img/facebook_info.png"
                    class="facebook">
                </a>
            </div>
            
        </div>
    </div>
    <div id="fixed_request_button">
        <div id="chevron-up">
            {% comment %} 스크롤!
            <img src="static/img/arrow-down.png" class="scroll-down"> {% endcomment %}
        </div>
        <a href="{% url 'landingpage:estimate_new' %}" class="fixed-button-bg">
            <span class="fixed_request_button_content">상품 접수하기</span>
        </a>
    </div>

</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        loop: false,

        pagination:{
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>
<script src="/static/scroll.js"></script>
{% endblock %}