{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>


<div id="full-screen">
    <div class="snap-container">
        <div>
            <img src="static/img/rgb-v-2-1.png" 
                srcset="static/img/rgb-v-2-1@2x.png 2x, static/img/rgb-v-2-1@3x.png 3x"
                class="fapislogo">
            <div class="fapisintro">
                <b style="color: #0052d4">견적</b>부터 <b style="color: #0052d4">배송</b>까지,
            </div>
            <div class="fapisintro" style="margin-top : 18px"> 
                집 안에서 만나는 <b style="color: #0052d4">명품 수선소</b>
            </div>
            <div class="request_button">
                <a href="{% url 'landingpage:basic_information' %}"><span class="request_button_content">견적 신청하기</span></a>
            </div>
        </div>
        <div>
            <div class="swiper-container" style="height: 100%; width: 100%;">
                <div class="swiper-wrapper" style="height: 48vh;">
                    <div class="swiper-slide keyword-container">
                        <img src="static/img/iphoon-12-e-1@3x.png" style="position: absolute; bottom: 0; width: 64vw; left: 18vw;">
                        <div class="keyword-title">
                            올리고
                        </div>
                        <div class="keyword-line">
            
                        </div>
                        <div class="keyword-comment">
                            핸드폰으로 간단하게 사진과 요청사항만 <br>
                            적으면 접수 끝. 초-간단 온라인 접수!
                        </div>
                    </div>
                    <div class="swiper-slide keyword-container">
                        
                    </div>
                    <div class="swiper-slide keyword-container">
                        
                    </div>
                </div>
                <div class="swiper-pagination" style="bottom: calc(45vh - 60px) !important;"> </div>
                <div class="swiper-button-prev keyword-arrow-left">  </div>
                <div class="swiper-button-next keyword-arrow-right"> </div>
            </div>
        </div>
        <div class="review-div">
            <div class="review-title">
                실제 고객님 리뷰
            </div>
            <div class="review-comment">
                패피스를 경험해보신 고객님들의 <br>
                소중한 후기를 들어보세요.
            </div>
            <div class="review-page">
                <div class="swiper-container" style="height: 100%">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                김** 고객님
                            </div>
                            <div class="review-profile">
                                29세 남양주 거주
                            </div>
                            <img src="static/img/frame-91@3x.png"
                            srcset="static/img/frame-91@2x.png 2x,
                                    static/img/frame-91.png 3x"
                            class="review-face">
                            <div class="review-nickname">
                                핸드백 분쇄기
                            </div>
                            <div class="review-review">
                                동네 세탁소에서는 받아주지 않는 마르지엘라 <br>
                                가방이 완전 새 것처럼 돌아왔어요.
                            </div>
                        </div>
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                정** 고객님
                            </div>
                            <div class="review-profile">
                                22세 수지 거주
                            </div>
                            <img src="static/img/3-1@3x.png"
                            srcset="static/img/3-1@2x.png 2x,
                                    static/img/3-1.png 3x"
                            class="review-face">
                            <div class="review-nickname">
                                강남역 10번 출구
                            </div>
                            <div class="review-review">
                                새로 산 맥퀸에 친구가 술먹고 토를 했는데, <br>
                                패피스 통해서 새 신발이 되었어요.
                            </div>
                        </div>
                        <div class="swiper-slide review-box">
                            <div class="review-name">
                                박** 고객님
                            </div>
                            <div class="review-profile">
                                23세 연남 거주
                            </div>
                            <img src="static/img/5-2@3x.png"
                            srcset="static/img/5-2@2x.png 2x,
                                    static/img/5-2.png 3x"
                            class="review-face">
                            <div class="review-nickname">
                                응애 나 아기새
                            </div>
                            <div class="review-review">
                                해외직구로 구매한 너무 긴 오프화이트 바지, <br> 
                                패피스에서 길이만 줄여서 수선 티가 하나도 안 나요.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"> </div>
                    <div class="swiper-button-prev review-arrow-left">  </div>
                    <div class="swiper-button-next review-arrow-right"> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fixed_request_button">
        <a href="{% url 'landingpage:basic_information' %}"></a><span class="fixed_request_button_content"> 견적 신청하기</span></a>
    </div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        loop: false,

        pagination:{
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>
{% endblock %}