{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'purpose.css'%}">
<link rel="stylesheet" href="{%static 'product.css'%}">
<button onclick="history.back()" class="back-button"></button>
<div class="title">좀만 더 알려주세요!</div>
<form method="POST" class="post-form">{% csrf_token %}
    {{ product_form }}
    <div class="product-explanation" style="margin-top: 75px;">
        *위 정보는 인수증 발급을 위한 정보로, 기억이 <br>
        안 나시는 경우 공란으로 남겨주세요!
    </div>
    <div class="product-explanation" style="margin-top: 24px; margin-bottom: 100px;">
        * <b>인수증이란?</b> 케어 과정에서 발생하는 피해를 <br>
        방지하기 위한 일종의 <b>‘케어 계약서’</b> 입니다.
    </div>
    <div id="fixed-next-button" >
        <div class="status-bar-bg">
            <div class="status-bar" style="width: 40vw;"></div>
        </div>
        <button type="submit" class="save btn btn-default" id="next-button" style="padding-top: 0px">
            <span class="fixed_request_button_content"> 다음으로 </span>
        </button>
    </div>
</form>
{% endblock %}