{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'purpose.css'%}">
<button onclick="history.back()" class="back-button"></button>
<div class="title">알려주세요!</div>
<form method="POST" class="post-form">{% csrf_token %}
        {{ purpose_form }}
        <div id="purpose_of_estimate_title">
            서비스
        </div>
        <div id="type_of_product_title">
            품목
        </div>
        <div id="fixed-next-button" >
            <div class="status-bar-bg">
                <div class="status-bar" style="width: 20vw;"></div>
            </div>
            <button type="submit" class="save btn btn-default" id="next-button" style="padding-top: 0px">
                <span class="fixed_request_button_content"> 다음으로 </span>
            </button>
        </div>
</form>
{% endblock %}