
.photo-comment {
  width: 294px;
  margin-top: 136px;
  flex-grow: 0;
  margin-left: calc(50vw - 125px);
  font-family: NotoSansKR, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #545454;
}
.where {
  display: block;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: "NotoSansKR", sans-serif;
  font-style: italic;
}
li {
    list-style: none;
}
#preview1 {
  margin-left: 117px; 
}

#preview2 {
  margin-left: 117px;
}

.overall-img-title{
    margin-top: 25px;
    margin-left: 36px;
    height: 41px;
    flex-grow: 0;
    font-family: GmarketSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 10px;
}

.detail-img-title {
    margin-left: 36px;
    height: 41px;
    flex-grow: 0;
    font-family: GmarketSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 10px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  display: none;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* imaged preview */
.filebox .upload-display {
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  display: inline-block;
  width: 77px;
  height: 73px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 9px;
  margin-top: -4px;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
  border-radius: 10px;
}

.filebox.bs3-primary label {
    width: 77px;
    height: 73px;
    margin-left: 30px;
    border-radius: 10px;
    background-image: url('./img/image.png');
    background-size: 55px 56px;
    background-color: #d7d7d7;
    background-repeat: no-repeat;
    background-position: center;
}
#file-upload-button {
    background-image: url('./img/image.png');
}

.filebox1 {
    width: 100%;
    height: 100px;
}

.filebox2 {
    width: 100%;
    height: 73px;
}

.filebox1.bs3-primary label {
  display: inline-block;
  position: absolute;
  width: 77px;
  height: 73px;
  margin-left: 30px;
  border-radius: 10px;
  background-image: url('./img/image.png');
  background-size: 55px 56px;
  background-color: #d7d7d7;
  background-repeat: no-repeat;
  background-position: center;
}

.filebox2.bs3-primary label {
    display: inline-block;
    position: absolute;
    width: 77px;
    height: 73px;
    margin-left: 30px;
    border-radius: 10px;
    background-image: url('./img/image.png');
    background-size: 55px 56px;
    background-color: #d7d7d7;
    background-repeat: no-repeat;
    background-position: center;
}
.filebox2 button, input {
    display: none;
}


#floatingCirclesG{
	position: relative;
  top: 250px;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#spinner{
  display: none;
  position: fixed;
  bottom: 0;
  background:rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
}


@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}