body {
    background-color: #ffffff;
    background-image: none !important;
}

.title {
  width: 100vw;
  height: 46px;
  margin-top: 74px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #0052d4;
}
label {
    display: none;
}
select {
    width: 296px;
    height: 44px;
    font-family: "NotoSansKR", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.34;
    text-align: center;
    color: #000000;
    margin-left: calc(50vw - 148px);
    margin-top: 40px;
    -webkit-appearance: none; 
    /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none; 
    background: url("./img/keyboard-arrow-down.svg") no-repeat 100% 50%;
    background-size: 33px 33px;
    border: 0px;
    border-bottom: 1.5px solid black !important;
    text-indent: 10px;
}
.helptext {
    display: none;
}
.status-bar {
    width: 20vw;
    height: 16px;
    background-color: #dbff38;
    z-index: 10;
}
.status-bar-bg {
    width: 100vw;
    height: 16px;
    background-color: #e0e0e0;
    z-index: 5;
}
#fixed-next-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 86px;
    text-align: center;
    z-index: 100;
}
#next-button {
    background-color: #4364f7;
    width: 100%;
    height: 70px;
}