body {
    background-color: #ffffff;
    background-image: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.title {
    position: absolute;
    width: 260px;
    height: 46px;
    margin-top: 27px;
    margin-left: calc(50vw - 130px);
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #0052d4;
    margin-top: 0px; 
    top: 28px;
}
label {
    display: none;
}
select {
    position: absolute;
    width: 296px;
    height: 44px;
    font-family: "NotoSansKR", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.34;
    text-align: center;
    color: #000000;
    margin-left: calc(50vw - 148px);
    margin-top: 40px;
    -webkit-appearance: none; 
    /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none; 
    background: url("./img/keyboard-arrow-down.svg") no-repeat 100% 50%;
    background-size: 33px 33px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid #c9c9c9;;
    text-indent: 10px;
}
.helptext {
    display: none;
}
.status-bar {
    width: 20vw;
    height: 4px;
    background: linear-gradient(90.26deg, #DBFF38 3.73%, #EBFF8D 103.87%);
    z-index: 10;
}
.status-bar-bg {
    width: 100vw;
    height: 4px;
    background-color: #e0e0e0;
    z-index: 5;
    position: absolute;
}
#fixed-next-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 86px;
    text-align: center;
    z-index: 100;
}
#next-button {
    background: linear-gradient(91.84deg, #4364F7 0.47%, #6B86FF 100%);
    width: 100%;
    height: 70px;
}

#next-button:active .fixed_request_button_content{
    color: #a4b4ff;
}

.back-button {
    width: 19px;
    height: 19px;
    margin-top: 33px;
    margin-left: 17px;
    object-fit: contain;
    background-image: url('./img/back-button-small.png');
    background-size: 19px 19px;
    padding:0;
    border: 0;
    outline: 0;
    background-color: transparent;
    z-index: 100;
}

.select-line {
    width: 294px;
    height: 1px;
    margin-left: calc(50vw - 147px);
    background-color: #000000; 
}

#purpose_of_estimate_title {
    position: absolute;
    top: 109px;
    left: calc(50vw - 138px);
    font-size: 14px;
    font-weight: bold;
    color: #8e8e8e;
}

#type_of_product_title {
    position: absolute;
    top: 225px;
    left: calc(50vw - 138px);
    font-size: 14px;
    font-weight: bold;
    color: #8e8e8e;
}

#id_purpose_of_estimate {
    position: absolute;
    top: 126px;
    margin-top: 0px;
}

#id_type_of_product {
    position: absolute;
    top: 243px;
    margin-top: 0px;
}
