html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    font-family: GmarketSans;
    background-image: linear-gradient(to top, #ffffff, #f8f9ff);
}

a {
    text-decoration: none;
}

#fullscreen {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.blue {
    color: #0052d4;
}

.fapislogo {
    position: absolute;
    width: 155px;
    top: 48px;
    left: 20px;
    object-fit: contain;
}

.instagram{
    position: relative;
    object-fit: contain;
    width: 33.6px;
}

.kakaotalk{
    position: relative;
    object-fit: contain;
    width: 40.6px;
    margin: 0 20px 0 20px
}

.facebook {
    position: relative;
    object-fit: contain;
    width: 31px;
}

.sns-icons{
   text-align: center;
}

.info-logo{
    position: absolute;
    height: 32px;
    width: 95px;
    object-fit: contain;
    margin-top: 137px;
    margin-left: calc(50vw - 166px);
}

.intro-text{
    position: absolute;
    width: 299px;
    height: 37px;
    margin-left: calc(50vw - 166px);
    font-family: NotoSansKR;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #191f28;
}

.intro-sub{
    position: absolute;
    width: 332px;
    height: 151px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #191F28;
    margin-top: 251px;
    margin-left: calc(50vw - 166px);
    text-align: left;
}

.fapisintro {
    width: 317px;
    font-size: 2.5rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    top: 119px;
    left: 22px;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.request_button {
    width: 157px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 216px;
    left: 20px;
    border-radius: 20px;
    background-color: #1c74ff;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgb(0 82 212 / 19%);
    background-color: #4874f2;
}

.request_button:active.request_button_content{
    color: #a4b4ff;
}

.request_button1 {
    width: 157px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 213px 0 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #1c74ff;
    
}

.request_button_content {
    width: 97px;
    height: 18px;
    flex-grow: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.intro-bg {
    background-image: url(./img/fapisLo.png);
    width: 100vw;
    height: 100vh;
    background-size: 417px 651px;
    position: absolute;
    /* top: 34px; */
    /* left: 50%; */
    /* margin-left: -208.5px; */
    /* margin-left: calc(50vw - 208.5px); */
    background-repeat: no-repeat;
    background-position: top;
    z-index: -100;
    overflow-x: hidden;
}

#chevron-up {
    width: 58px;
    height: 52px;
    margin-left: 24px;
    z-index: 1000;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#chevron-up .hide {
    display: none !important;
}
.scroll-down {
    width: 30px;
    height: 30px;
    margin-left: 14px;
}

#fixed_request_button {
    position: fixed;
    bottom:0;
    width:100%;
    height:130px;
    text-align: center;
    z-index: 100;
}

.fixed-button-bg {
    width: 100vw;
    height: 70px;
    background-color: #4364f7;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 21px;
}

.fixed-button-bg:active .fixed_request_button_content{
    color: #a4b4ff;
}

.fixed_request_button_content{
    top:24px;
    width: 146px;
    height: 28px;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #4364f7;
}

.fixed_request_button_content:active{
    color: #a4b4ff;
}

.snap-container {
    scroll-snap-type: y mandatory;
    overflow:scroll;
    height:calc(100vh - 105px);
    /* height: 100vh; */
    min-height: 400px;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}  

.snap-container > div {
    height:calc(100vh - 105px);
    /* height: 100vh; */
    min-height: 400px;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: border-box;
}

.keyword-container {
    background-color: #d3dff4;
    width: 100%;
    height: 344px;
}

.keyword-box {
    width: 135px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 85px;
    padding: 10px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #2f55ff;
    z-index: 2000;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.keyword-title {
    margin-top: 272px;
    width: 100vw;
    height: 44px;
    font-family: GmarketSans;
    flex-grow: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #015def;
}

.keyword-line {
    margin-top: 2.6vh;
    margin-left: calc(50vw - 42px);
    width: 84px;
    height: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(29, 29, 29, 0.8);
}

.keyword-comment {
    margin-top: 2.6vh;
    width: 100vw;
    height: 44px;
    font-family: NotoSansKR,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: rgba(0, 0, 0, 0.79);
}

.review-div {
    padding-top: 64px;
}

.review-page {
    width: 100%;
    height: 350px;
}

.review-container {
    padding: 3.4vh 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: NotoSansKR,sans-serif;
}

.review-title {
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #0052d4;
}

.review-comment {
    font-size: 1.6rem;
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: rgba(0, 0, 0, 0.79);
    font-family: NotoSansKR,sans-serif;
}

.review-box {
    border-radius: 10px;
    box-shadow: 0 4px 21px -8px rgb(0 0 0 / 27%);
    background-color: #ffffff;
    margin-top: 32px;
    margin-left: calc(50vw - 132px);
    margin-right: calc(50vw - 132px);
    width: 264px!important;
    height: 267px !important;
}
.review-name {
    position: absolute;
    width: 200px;
    top: 15px;
    left: 50%;
    margin-left: -100px;
    font-family: NotoSansKR, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.review-profile {
    width: 200px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -100px;
    font-size: 1.4rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    font-family: NotoSansKR, sans-serif;
}

.review-face {
    width: 116px;
    height: 116px;
    object-fit: contain;
    position: absolute;
    top: 52px;
    left: 74px;
}

.review-nickname {
    width: 140px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #0052d4;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 62px;
    color: #ffffff;
    font-family: NotoSansKR,sans-serif;
}

.review-review {
    width: 100%;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #797979;
    position: absolute;
    top: 190px;
    font-family: NotoSansKR,sans-serif;
}

.swiper-button-prev {
    background-image: url("./img/left-arrow@3x.png") !important;
}

.swiper-button-next {
    background-image: url("./img/right-arrow@3x.png") !important;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
}

.review-arrow-left {
    width: 26px !important;
    height: 26px !important;
    background-size: 27px 27px !important;
    left: calc(13vw - 35px) !important;
}

.review-arrow-right {
    width: 26px !important;
    height: 26px !important;
    background-size: 27px 27px !important;
    right: calc(13vw - 35px) !important;
}

.keyword-arrow-left {
    width: 36px !important;
    height: 36px !important;
    background-size: 36px 36px !important;
    left: 20px !important;
    top: 210px !important;
}

.keyword-arrow-right {
    width: 36px !important;
    height: 36px !important;
    background-size: 36px 36px !important;
    right: 20px !important;
    top: 210px !important;
}

.process-title{
    position: absolute;
    top: -21.5px;
    width: 100%;
    height: 28px;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left : 2px;
}

.process-title-portfolio{
    position: absolute;
    top: -22px;
    width: 100%;
    height: 28px;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 5px;
}

.process-title-estimate{
    position: absolute;
    top: -22px;
    width: 100%;
    height: 28px;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    left: 3px;
}

.process-title-door{
    position: absolute;
    top: -22px;
    width: 100%;
    height: 28px;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 3px;
}

.title-line-door{
    z-index: 2;
    position: relative;
    top: 48px;
    width: 115px;
    height: 10px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #cefa05;
    left: 31px;
}

.title-line-estimate{
    z-index: 2;
    position: relative;
    top: 48px;
    width: 110px;
    height: 10px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #cefa05;
    left: 31px;
}

.title-line{
    z-index: 2;
    position: relative;
    top: 48px;
    width: 128px;
    height: 10px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #cefa05;
    left: 31px;
}

.process-content-1{
    position: absolute;
    margin-left: calc(50vw - 115px);
    top: 85px;
    width: 230px;
    height: 141px;
    font-family: GmarketSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.process-sub-1{
    position: absolute;
    top: 240px;
    margin-left: calc(50vw - 130px);
    width: 260px;
    height: 78px;
    font-family: NotoSansKR-regular;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 170%;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.process-content-2{
    position: absolute;
    margin-left: 36px;
    top: 86px;
    width: 230px;
    height: 141px;
    font-family: GmarketSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.process-sub-2{
    position: absolute;
    top: 192px;
    margin-left: 36px;
    width: 280px;
    height: 78px;
    font-family: NotoSansKR-regular;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 170%;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.process-content-3{
    position: absolute;
    margin-left: 36px;
    width: 250px;
    height: 94px;
    font-family: GmarketSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 170%;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 130px;
    z-index: 3;
}

.process-sub-3{
    position: absolute;
    margin-left: 36px;
    width: 260px;
    height: 78px;
    font-family: NotoSansKR-regular;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 40px;
}

.process-content-4{
    top: 86px;
    position: absolute;
    margin-left: 36px;
    width: 250px;
    height: 94px;
    font-family: GmarketSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 170%;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 130px;
    z-index: 3;
}

.process-sub-4{
    position: absolute;
    top: 192px;
    margin-left: 36px;
    width: 270px;
    height: 78px;
    font-family: NotoSansKR-regular;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 40px;
}

.eclipse-bg1{
    position: relative;
    width: 612px;
    height: 612px;
    margin-left: calc(50vw - 306px);
    bottom: -350px;
}

.eclipse-bg2{
    position: relative;
    width: 612px;
    height: 612px;
    margin-left: calc(50vw - 306px);
    top: -350px;
    overflow: hidden;
    z-index: 1;
}

.eclipse-bg3{
    position: relative;
    width: 654px;
    height: 654px;
    bottom: -340px;
    left: -50px;
}

.portfolio-ui{
    position: absolute;
    width: 278px;
    height: 378px;;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.estimate-ui{
    position: absolute;
    object-fit: contain;
    width: 330px;
    height: 330px;
    margin-left: calc(50vw - 165px);
    top: 76px;
    z-index: 2;
}

.hands{
    object-fit: contain;
    position: absolute;
    width: 840.66px;
    height: 840.11px;
    z-index: 3;
    bottom: -185px;
    margin-left: calc(50vw - 440px);
    overflow: hidden;
    
}

.suggestion-title {
    position: absolute;
    top: 422px;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
    color: #000000;
    text-align: center;
}

.suggestion-content {
    position: absolute;
    top: 498px;
    width: 100%;
    font-family: NotoSansKR, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.requestImg{
    position: absolute;
    object-fit: contain;
    width: 243px;
    height: 298px;
    margin-left: calc(50vw - 121.5px);
    bottom: -2px;
    filter: drop-shadow(-13px -4px 15px rgba(0, 0, 0, 0.25));

}

.stock {
    width: 489px;
    height: 349px;
    margin-left: calc(50vw - 244px);
    margin-top: 46px;
    object-fit: contain;
}

.portfolio-profile-box {
    padding-top: 30px;
    margin-left: calc(50vw - 145px);
    width: 80vw;
    height: 102px;
    position: relative;
}

.portfolio-hashtag-1 {
    position: absolute;
    width: 74.7px;
    height: 33.5px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #4364f7;
    font-family: NotoSansKR, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    z-index: 20;
    position: absolute;
}

.portfolio-hashtag-2 {
    width: 97.5px;
    height: 33.5px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #0052d4;
    position: absolute;
    left: 69.4px;
    font-family: NotoSansKR, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    z-index: 10;
    position: absolute;
}

.portfolio-white-box {
    margin-top: 19px;
    width: 290px;
    height: 82.9px;
    flex-grow: 0;
    border-radius: 10px;
    box-shadow: 0 4px 21px -8px rgba(0, 0, 0, 0.27);
    background-color: #ffffff;
    z-index: 30;
    position: absolute;
}

.portfolio-face {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 10px;
    margin-top: 11.6px;
    margin-left: 8px;
}

.portfolio-alteration {
    font-family: NotoSansKR, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: absolute;
    margin-left: 82px;
    margin-top: 16px;
}

.portfolio-name {
    font-family: NotoSansKR, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    position: absolute;
    margin-left: 82px;
    margin-top: 44px;
    font-weight: bold;
}

.portfolio-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 255px;
    margin-top: 30px;
    background-image: url("./img/arrow-right-circle.svg");
}

.portfolio-circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #c4c4c4;
    position: absolute;
    margin-left: calc(50vw - 4px);
}

.estimate-bg {
    margin-top: -16px;
    margin-left: calc(50vw - 180px);
    width: 360px;
    height: 437px;
}

.package {
    margin-left: calc(50vw - 180px);
    margin-top: 29px;
    width: 360px;
    height: 364px;
}

.rec-ui {
    width: 249px;
    height: 432px;
    object-fit: contain;
    margin-left: calc(50vw - 130px);
}

.benefits-title {
    width: 100%;
    position: absolute;
    margin-top: 31px;
    /* text-shadow: 0 2px 5px rgb(0 0 0 / 25%); */
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0052d4;
}

.benefits-line {
  width: 288px;
  height: 1px;
  position: absolute;
  margin-left: calc(50vw - 144px);
  margin-top: 130.5px;
  background-color: #8b8b8b;
}

.benefits-foryou {
    width: 100%;
    height: 18px;
    position: absolute;
    margin-top: 144px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #737373;
}

.benefits-money {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-top: 187px;
    margin-left: calc(50vw - 24px);
    flex-grow: 0;
    object-fit: contain;
}

.benefits-content {
    width: 100%;
    height: 40px;
    flex-grow: 0;
    /* text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); */
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    position: absolute;
    margin-top: 244px;
}

.benefits-small-line {
    position: absolute;
    margin-top: 310px;
    margin-left: calc(50vw - 45px);
    width: 90px;
    height: 1px;
    flex-grow: 0;
    background-color: #8b8b8b;
}

.techlife {
    width: 269px;
    height: 238px;
    margin-left: calc(50vw - 130px);
    margin-top: 58px;
    object-fit: contain;
}

.info-content {
    width: 238px;
    height: 131px;
    margin: 30px auto 25px;
    font-family: NotoSansKR;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.info-content > div {
    margin-top: 10px;
}

/*MEDIA*/
@media screen and (min-width:768px){
    .snap-container{
        scroll-snap-type:none;
        overflow:scroll;
        height: 100vh;
        /* min-height: 600px; */
        width: 100vw;
        overflow-x: hidden;
        position: relat ive;
    }
    .snap-container > div {
        height: 100vh;
        width: 450px;
        margin: 0 auto;
        /* min-height: 600px; */
        position: relative;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        box-sizing: border-box;
    }
    
    .review-box {
        border-radius: 10px;
        box-shadow: 0 4px 21px -8px rgb(0 0 0 / 27%);
        background-color: #ffffff;
        margin-top: 32px;
        left: 50%;
        margin-left: -132px;
        margin-right: 318px;
        width: 264px!important;
        height: 267px !important;
    }
    .intro-bg {
        background-image: url(./img/fapisLo.png);
        width: 114vw;
        height: 100vh;
        background-size: 417px 651px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -57vw;
        background-repeat: no-repeat;
        background-position: top;
        z-index: -100;
        overflow-x: hidden;
    }
    .info-logo {
        position: absolute;
        height: 32px;
        width: 95px;
        object-fit: contain;
        margin-top: 137px;
        left: 50%;
        margin-left: -150px;
    }
    .intro-text {
        position: absolute;
        width: 300px;
        height: 37px;
        left: 50%;
        margin-left: -150px;
        font-family: NotoSansKR;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: normal;
        text-align: left;
        color: #191f28;
        
    }
    .process-content-2{
        position: absolute;
        margin-left: 36px;
        top: 86px;
        width: 230px;
        height: 141px;
        font-family: GmarketSans;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .process-sub-2{
        position: absolute;
        top: 180px;
        margin-left: 36px;
        width: 280px;
        height: 78px;
        font-family: NotoSansKR-regular;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 170%;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .process-content-3{
        position: absolute;
        margin-left: 36px;
        width: 250px;
        height: 94px;
        font-family: GmarketSans;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 170%;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        bottom: 105px;
        z-index: 3;
    }
    .process-sub-3{
        position: absolute;
        margin-left: 36px;
        width: 260px;
        height: 78px;
        font-family: NotoSansKR-regular;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        bottom: 25px;
    }
    .intro-sub {
        position: absolute;
        width: 332px;
        height: 151px;
        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        color: #191F28;
        margin-top: 251px;
        left: 50%;
        margin-left: -150px;
        text-align: left;
    }
    .process-content-1{
        position: absolute;
        left: 50%;
        margin-left: -115px;
        top: 85px;
        width: 230px;
        height: 141px;
        font-family: GmarketSans;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .process-sub-1{
        position: absolute;
        top: 240px;
        left: 50%;
        margin-left: -130px;
        width: 260px;
        height: 78px;
        font-family: NotoSansKR-regular;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 170%;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .process-content-4{
        top: 86px;
        position: absolute;
        margin-left: 36px;
        width: 250px;
        height: 94px;
        font-family: GmarketSans;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 170%;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        bottom: 130px;
        z-index: 3;
    }
    .process-sub-4{
        position: absolute;
        top: 192px;
        margin-left: 36px;
        width: 300px;
        height: 78px;
        font-family: NotoSansKR-regular;
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        bottom: 40px;
    }
    .requestImg{
        position: absolute;
        object-fit: contain;
        width: 200px;
        height: 220px;
        /* width: 243px;
        height: 298px; */
        left:50%;
        margin-left: -100px;
        bottom: -2px;
        filter: drop-shadow(-13px -4px 15px rgba(0, 0, 0, 0.25));
    }
    .portfolio-ui {
        position: absolute;
        width: 250px;
        height: 330px;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .estimate-ui{
        position: absolute;
        object-fit: contain;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 60px;
        z-index: 2
    }
    .eclipse-bg1 {
        display: none;
    }
    .eclipse-bg2 {
        position: relative;
        width: 600px;
        height: 590px;
        left: 80%;
        margin-left: -450px;
        top: -295px;
        overflow: hidden;
        z-index: 1;
    }
    .title-line{
        z-index: 2;
        position: relative;
        top: 48px;
        width: 115px;
        height: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        box-shadow: 0 4px 7px 0 rgb(0 0 0 / 25%);
        background-color: #cefa05;
        left: 31px;
    }
    .process-title{
        position: absolute;
        top: -19px;
        width: 100%;
        height: 28px;
        font-family: GmarketSans;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        left: 2px;
    }

    .process-title-portfolio{
        position: absolute;
        top: -17.5px;
        width: 100%;
        height: 28px;
        font-family: GmarketSans;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        left: 5px;
    }

    .process-title-estimate{
        position: absolute;
        top: -17px;
        width: 100%;
        height: 28px;
        font-family: GmarketSans;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        left: 6px;
    }

    .process-title-door{
        position: absolute;
        top: -17px;
        width: 100%;
        height: 28px;
        font-family: GmarketSans;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        left: 5px;
    }

    .title-line-door{
        z-index: 2;
        position: relative;
        top: 48px;
        width: 112px;
        height: 10px;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
        background-color: #cefa05;
        left: 31px;
    }

    .rec-ui {
        width: 249px;
        height: 432px;
        object-fit: contain;
        left: 50%;
        margin-left: -124.5px;
        position: absolute;
    }
    .hands {
        object-fit: contain;
        position: absolute;
        width: 650.66px;
        height: 650.11px;
        z-index: 3;
        bottom: -160px;
        left: 50%;
        margin-left: -340px;
        overflow: hidden;
    }
    .benefits-money {
        width: 48px;
        height: 48px;
        position: absolute;
        margin-top: 187px;
        left: 50%;
        margin-left: -24px;
        flex-grow: 0;
        object-fit: contain;
    }
    .review-arrow-left {
        width: 26px !important;
        height: 26px !important;
        background-size: 27px 27px !important;
    }
    .review-arrow-right {
        width: 26px !important;
        height: 26px !important;
        background-size: 27px 27px !important;
    }
    .benefits-line {
        width: 288px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -144px;
        margin-top: 130.5px;
        background-color: #8b8b8b;
    }
    .benefits-small-line {
        position: absolute;
        margin-top: 310px;
        left: 50%;
        margin-left: -45px;
        width: 90px;
        height: 1px;
        flex-grow: 0;
        background-color: #8b8b8b;
    }
    .techlife {
        width: 230px;
        height: 238px;
        position: relative;
        left: 50%;
        margin-left: -115.5px;
        margin-top: 20px;
        object-fit: contain;
    }
    .info-content {
        width: 238px;
        height: 131px;
        margin: 1px auto 28px;
        font-family: NotoSansKR;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .fapislogo{
        left: 35px;
    }
    .fapisintro{
        left: 38px;
    }
    .request_button{
        left: 37px;
    }
    
}

@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFLight.ttf);
    font-weight:300;
}

@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFMedium.ttf);
    font-weight:500;
}

@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFBold.ttf);
    font-weight:700;
}

@font-face {
    font-family: NotoSansKR;
    src:url(Noto_Sans_KR/NotoSansKR-Light.otf);
    font-weight:300;
}

@font-face {
    font-family: NotoSansKR;
    src:url(Noto_Sans_KR/NotoSansKR-Medium.otf);
    font-weight:500;
}

@font-face {
    font-family: NotoSansKR;
    src:url(Noto_Sans_KR/NotoSansKR-Bold.otf);
    font-weight:700;
}