@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: GmarketSans;
    background-image: linear-gradient(to top, #ffffff, #f8f9ff);
}

a {
    text-decoration: none;
}

#fullscreen {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fapislogo {
    width: 165px;
    height: 55px;
    margin-top: 42px;
    margin-left: 22px;
    object-fit: contain;
}

.fapisintro {
    width: 317px;
    font-size: 2.5rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 28px;
    margin-left: 20px;
}

.request_button {
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 24px 212px 0 20px;
    border-radius: 20px;
    background-color: #1c74ff;
}

.request_button1 {
    width: 157px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 213px 0 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #1c74ff;
}

.request_button_content {
    width: 97px;
    height: 18px;
    flex-grow: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#fixed_request_button {
    position: fixed;
    bottom:0;
    width:100%;
    height:42px;
    padding-top: 16px;
    background-color: #4364f7;
    text-align: center;
}

.fixed_request_button_content{
    top:24px;
    width: 146px;
    height: 28px;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

/* .snap-container {
    scroll-snap-type: y mandatory;
    overflow:scroll;
    height:calc(100vh - 58px);
}  

.snap-container > div {
    height:calc(100vh - 58px);
    scroll-snap-align: start;
    scroll-snap-stop: always;
} */

.keywords {
    padding: 40px;
    flex-grow: 0;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #0052d4;
}

.review-container {
    padding: 3.4vh 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "NotoSansKR",sans-serif;
}

.review-title {
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #0052d4;
    margin-top: 22vh;
}

.review-comment {
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.79);
}

.review-box {
    margin: 0px auto;
    width: 288px;
    height: 260px;
    margin-top: calc(20vh - 136px);
    border-radius: 10px;
    box-shadow: 0 4px 21px -8px rgb(0 0 0 / 27%);
    background-color: #ffffff;
}

.rb-second { 
    margin-top: 3vh;
}

.review-name {
    position: relative;
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.review-profile {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.review-face {
    width: 96px;
    height: 96px;
    object-fit: contain;
    position: relative;
    top: -10px;
}

.review-face-2 {
    width: 108px;
    height: 106px;
    position: relative;
    top: -10px;
    object-fit: contain;
}

.review-nickname {
    width: 111px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: -8px auto;
    border-radius: 20px;
    background-color: #0052d4;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.review-review {
    width: 266px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px auto;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #797979;
}


@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFLight.ttf);
    font-weight:300;
}

@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFMedium.ttf);
    font-weight:500;
}

@font-face {
    font-family: GmarketSans;
    src:url(GmarketSansTTF/GmarketSansTTFBold.ttf);
    font-weight:700;
}