{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- pybo CSS -->
    <title>패피스</title>
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195594557-1"></script>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "9950faa80ac740";
    if(window.wcs) {
    wcs_do();
    }
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-195594557-1');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '324007319355739');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=324007319355739&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta name="facebook-domain-verification" content="cml6lb6lt6pwygnwqd603ea3ypitfr" />
    <script> 
        $.fn.setPreview = function(opt){ 
            "use strict" 
            var defaultOpt = { 
                inputFile: $(this), 
                img: null, 
                w: 200, 
                h: 200 
            }; $.extend(defaultOpt, opt); 
            var previewImage = function(){ 
                if (!defaultOpt.inputFile || !defaultOpt.img) return; 
                var inputFile = defaultOpt.inputFile.get(0); 
                var img = defaultOpt.img.get(0); 
                // FileReader 
                if (window.FileReader) { 
                    // image 파일만 
                    if (!inputFile.files[0].type.match(/image\//)) return; 
                    // preview 
                    try { 
                        var reader = new FileReader(); 
                        reader.onload = function(e){ 
                            img.src = e.target.result; 
                            img.style.width = defaultOpt.w+'px'; 
                            img.style.height = defaultOpt.h+'px'; 
                            img.style.display = ''; 
                        } 
                        reader.readAsDataURL(inputFile.files[0]); 
                    } catch (e) { 
                        // exception... 
                    } 
                // img.filters (MSIE) 
            } else if (img.filters) { 
                inputFile.select(); 
                inputFile.blur(); 
                var imgSrc = document.selection.createRange().text; 
                img.style.width = defaultOpt.w+'px'; 
                img.style.height = defaultOpt.h+'px'; 
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")"; 
                img.style.display = ''; 
                // no support
             } else { 
                 // Safari5, ... 
                } 
            }; 
            // onchange 
            $(this).change(function(){ previewImage(); }); }; 
            $(document).ready(function(){ var opt = { img: $('#img_preview'), w: 200, h: 200 }; $('#input_file').setPreview(opt); }); 
    </script>
</head>

<body>
<!-- 중괄호% include "navbar.html" %중괄호 -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
{% block content %}
{% endblock %}
</body>
<footer style="display:none">
    <div>Icons made by <a href=“https://www.flaticon.com/authors/google” title=“Google”>Google</a> from <a href=“https://www.flaticon.com/” title=“Flaticon”>www.flaticon.com</a></div>
<div>Icons made by <a href=“https://www.freepik.com” title=“Freepik”>Freepik</a> from <a href=“https://www.flaticon.com/” title=“Flaticon”>www.flaticon.com</a></div>
</footer>
</html>