{% load static %}
<!doctype html>
<html lang="ko">
<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:type" content="website">
    <meta property="og:url" content="www.fapis.io">
    <meta property="og:title" content="집에서 만나는 명품 수선소, 패피스">
    <meta property="og:description" content="생활의 달인 명품 수선, 리폼, 세탁을 패피스에서 쉽고 간편하게                                                                                                                                                                                                                                                   ">
    <meta property="og:image" content="/static/img/kakao_FAPIS.png">
    
    <!--naver web master-->
    <meta name="naver-site-verification" content="c3af17717b903c26d4e27de36b7c9945961ba805" />
    <link rel="canonical" href="">
    <meta name="robots" content="index,follow">
    <meta name="Yeti" content="index,follow">
    <meta name="description" content="생활의 달인 명품 수선, 리폼, 세탁을 패피스에서 쉽고 간편하게                                                                                                                                                                                                                                                   ">
    <!-- pybo CSS -->
    <title>집에서 만나는 명품 수선소, 패피스</title>
    <link rel="icon" href="{%static '/img/fapis.ico'%}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195594557-1"></script>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "9950faa80ac740";
    if(window.wcs) {
    wcs_do();
    }
    </script>

    <!--구글 애드센스-->
    <script data-ad-client=“ca-pub-4664952317064883” async src=“https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js”></script>    

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-195594557-1');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '324007319355739');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=324007319355739&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta name="facebook-domain-verification" content="cml6lb6lt6pwygnwqd603ea3ypitfr" />
    <script> 
        $.fn.setPreview = function(opt){ 
            "use strict" 
            var defaultOpt = { 
                inputFile: $(this), 
                img: null, 
                w: 200, 
                h: 200 
            }; $.extend(defaultOpt, opt); 
            var previewImage = function(){ 
                if (!defaultOpt.inputFile || !defaultOpt.img) return; 
                var inputFile = defaultOpt.inputFile.get(0); 
                var img = defaultOpt.img.get(0); 
                // FileReader 
                if (window.FileReader) { 
                    // image 파일만 
                    if (!inputFile.files[0].type.match(/image\//)) return; 
                    // preview 
                    try { 
                        var reader = new FileReader(); 
                        reader.onload = function(e){ 
                            img.src = e.target.result; 
                            img.style.width = defaultOpt.w+'px'; 
                            img.style.height = defaultOpt.h+'px'; 
                            img.style.display = ''; 
                        } 
                        reader.readAsDataURL(inputFile.files[0]); 
                    } catch (e) { 
                        // exception... 
                    } 
                // img.filters (MSIE) 
            } else if (img.filters) { 
                inputFile.select(); 
                inputFile.blur(); 
                var imgSrc = document.selection.createRange().text; 
                img.style.width = defaultOpt.w+'px'; 
                img.style.height = defaultOpt.h+'px'; 
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")"; 
                img.style.display = ''; 
                // no support
             } else { 
                 // Safari5, ... 
                } 
            }; 
            // onchange 
            $(this).change(function(){ previewImage(); }); }; 
            $(document).ready(function(){ var opt = { img: $('#img_preview'), w: 200, h: 200 }; $('#input_file').setPreview(opt); }); 
    </script>
    <!-- 카카오 픽셀 코드 -->
    <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
    <script type="text/javascript">
        kakaoPixel('346014972500593921').pageView();
    </script>
    <!-- 카카오 픽셀 코드 끝-->

</head>

<body>
<!-- 중괄호% include "navbar.html" %중괄호 -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script>
    $(document).on("touchstart", function(){ });
</script>
{% block content %}
{% endblock %}
<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 --> 
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"> </script> 
<script type="text/javascript"> 
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_282a74d9d2e0";
if (!_nasa) var _nasa={};
if(window.wcs){
wcs.inflow();
wcs_do(_nasa);
}
</script>

</body>
<footer style="display:none">
    <div>Icons made by <a href=“https://www.flaticon.com/authors/google” title=“Google”>Google</a> from <a href=“https://www.flaticon.com/” title=“Flaticon”>www.flaticon.com</a></div>
<div>Icons made by <a href=“https://www.freepik.com” title=“Freepik”>Freepik</a> from <a href=“https://www.flaticon.com/” title=“Flaticon”>www.flaticon.com</a></div>
</footer>
</html>