{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- pybo CSS -->
    <title>Hello, FAPI'S!</title>
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">

    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195594557-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-195594557-1');
    </script>
</head>
<body>
<!-- 중괄호% include "navbar.html" %중괄호 -->
<img src="{%static 'img/rgb-v-2-1.png' %}" 
srcset="static/img/rgb-v-2-1@2x.png 2x, static/img/rgb-v-2-1@3x.png 3x"
class="fapislogo">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>